*{
    margin:0;
    border:0;
    box-sizing:border-box;

}

html,body{
    height:100%;
    width:100%;
}

#main{
    width:100%;
    height:100%;
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

#nav{
    width:100%;
    height:90px;
    /* background-color: rgb(137, 54, 54); */
    display:flex;
    justify-content: end;
    align-items: center;
    gap: 30px;
    padding: 0 40px;

}

#nav h4{
   font-size: 15px;
   font-weight: 600;
   /* background-color: chartreuse; */
   padding: 15px;
}
#nav h4:hover {
    background-color: rgb(241, 241, 241);
}

#nav i{
    color: white;
    font-size: 20px;
    background-color: black;
    padding: 10px;
    border-radius: 50%;
    font-weight: 500;
}


#center{
    width:100%;
    /* background-color: rgb(0, 187, 255); */
    padding: 10px 80px;
}

#center h1{
    font-size: 60px;
    font-weight: 520;
}

#center-in{
    height: 50%;
    width: 100%;
    /* background-color: rgb(248, 0, 0); */
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
#center-in p{
   font: 20px;
   padding:20px 0px;
   line-height: 25px;
   font-weight: 500;
}

#right{
    width: 20%; 
    padding: 35px 0px 0px 0px;
}

.elem{
    /* background-color: rgb(0, 0, 255); */
    padding: 15px 0px;
    border-top: 2px solid black;
    display: flex;
}
.elem a{
    color: #000;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    align-items: center;
}
.elem i{
    /* background-color: blue; */
    font: 20px;
    color: black;
    opacity: 0;

}
.elem:hover i{
    opacity: 1;
}
.elem:hover {
    background-color: rgb(241, 241, 241);
}

#bottom{
    height:32%;
    width:100%;
    background-color: aquamarine;
    background: url(model.jpg);
    background-position: 0% 20%;
    background-size: contain;
}